<h1>New game</h1>
<br>
<h3>
  <% @letters.each do |letter|%>
  <%= letter %>
  <% end %>
</h3>
<br>
<div class="play-game">
  <form action="/score" method="post">What is the longest word you can find?
    <br>
    <input type="text" name="word">
    <input type="submit" value="Play!" id="button">
     <%= hidden_field_tag :letters, @letters %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
